---
import { buildPath, type Lang } from '../i18n/routing';
import { useTranslations } from '../i18n';

interface Props {
  lang: 'en' | 'es';
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const aboutHref = buildPath({
  base: import.meta.env.BASE_URL,
  segments: ['about'],
  lang: lang as Lang,
  langPosition: 'suffix',
});
---

<main class="home">
  <section>
    <h5>Luciana Chamorro</h5>
    <h3>{t.home.title}</h3>
    <p>{t.home.subtitle}</p>
  </section>

  <section>
    <h3>{t.home.aboutTitle}</h3>
    <p>{t.home.aboutText}</p>
  </section>

  <section>
    <h3>{t.home.postsTitle}</h3>
    <ul>
      <!-- <li>
        <a href={`${import.meta.env.BASE_URL}blog`}>{t.home.post1}</a>
      </li>
      <li>
        <a href={`${import.meta.env.BASE_URL}about`}>{t.home.post2}</a>
      </li> -->
    </ul>
    <p>{t.home.cta}</p>
  </section>

  <section>
    <a href={aboutHref}>{t.home.more}</a>
  </section>
</main>
