---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '.././components/BaseHead.astro';
import Footer from '.././components/Footer.astro';
import FormattedDate from '.././components/FormattedDate.astro';
import Header from '.././components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const { heroImageCaption } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        margin: 0;
      }
      article {
        width: min(100%, 760px);
        margin: 0 auto;
      }
      .prose {
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .hero-image {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
        <h1 class="main-title">{title}</h1>
      <article >
        <div class="hero-image">
            <hr />
          {heroImage && <Image src={heroImage} alt="" />}
          {heroImageCaption && <p class="hero-caption">{heroImageCaption}</p>}
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
